body {
    background-color: rgb(208, 221, 236);
    text-align: right;
    border-width: 4px;
    border-style:solid;
    border-color: lightsteelblue;
    margin-left: 10%;
    margin-right: right
    


}

img {
    border-radius: 50%;
    width: 50%;
    height: 25%;
    border-width: 4px;
    border-style:solid;
    border-color: lightsteelblue;
    display: block;
    margin-left: 50%;
    margin-right: 15%;
}

#header{
    background-color: lightsteelblue;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    border-radius: 0%;
}

#navlinks{
    text-align: left;

    border-width: 4px;
    border-style: solid;
    border-color: lightsteelblue;
    padding: 15px;
}

p{
    margin-left: 30%;
}