body {
background-color: rgb(82, 165, 123);
}
h1 {
 text-align: center;
}
p {
    border-color: rgb(1, 1, 255);
    border-style: outset;
    border-width: 3.14159px;
    
}
h2 {
    text-align: center;
}